/*
          _                         _    
__      _| | ___   __ _  ___  _   _| |_  
\ \ /\ / / |/ _ \ / _` |/ _ \| | | | __| 
 \ V  V /| | (_) | (_| | (_) | |_| | |_  
  \_/\_/ |_|\___/ \__, |\___/ \__,_|\__| 
                  |___/                  
 
by Stephan Raabe (2024) 
----------------------------------------------------- 
*/

@define-color text #CDD6F4;
@define-color crust #11111B;
@define-color overlay0 #6C7086;
@define-color mauve #CBA6F7;

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background-color: alpha(@crust, 0.9);
}

button {
	color: @text;
    font-size:20px;

    background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	border-style: solid;
	border: 3px solid @overlay0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

button:focus,
button:active {
    color: @mauve;
	border: 3px solid @mauve;
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/lock.png"));
}

#logout {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/logout.png"));
}

#shutdown {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/reboot.png"));
}
